    <section class="container d-flex w-100 text-center justify-content-center flex-column m-3">
      <div class="card col-10 align-self-center">
        <form class="justify-content-center text-center d-inline">
          <div class="form-group">
            <h4>Title</h4>
            <input class="input-group text-center" type="text" placeholder="Title" id="title"/>
          </div>
          <div class="form-group">
            <label for="textArea">Text</label>
            <textarea class="form-control" id="textArea" placeholder="Your Thoughts Here!" rows="3"></textarea>
          </div>
          <div>
            <button class="btn btn-primary" type="submit" id="blogSubmit">Submit</button>
          </div>
        </form>
      </div>
    </section>