<div
  class='mt-1 d-flex row col-8 align-items-center col-12 bg-light h-25 text-center border rounded border-dark'
  style='background-color: #C9ADA7;'
>
  <p class='m-0 p-0 bg-light w-100 text-center'>{{content}}</p>
  <p class='m-0 p-0 text-center'>By:
    {{user.username}}
    at
    {{format_date createdAt}}</p>
</div>