    <div class="d-flex row col-8 align-items-center col-12 bg-light h-25 text-center">
        <p class="m-0 p-0 bg-light w-100 text-center">{{content}}</p>
        <p class="text-center">By: {{user.username}}</p>
    </div>