<section class="container row d-flex justify-content-center m-0 p-0 w-100">
    <div class="card text-center col-12">
        <div class="container row d-flex align-content-center justify-content-center">
            <p class="m-0 col-12 font-weight-bolder">{{title}}</p>
            <p class="m-0 col-12">{{content}}</p>
            <p class="m-0" style="font-size: smaller;">By: You! On {{format_date createdAt}}</p>
        </div>
    </div>
</section>